:root {
  --header-text-color: black;
  --text-color: black;
  --disclaimer-text: black;
  --nav-text-color: black;
  --nav-border-color: darkgray;
  --nav-background-color: lightgray;
  --nav-li-hover-color: gray;
  --page-background-color: white;
  --nav-bar-width: 200px;
  --code-background-color: whitesmoke; 
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  color: var(--text-color);
  background-color: var(--page-background-color);
  font-family: Arial;
}


#disclaimer {
  color: var(--disclaimer-color);
  font-size: 0.8em;
  /*
  position: fixed;
  margin: 0;
  padding: 0.5em;
  bottom: 1em;
  left: 1em;
  width: calc(var(--nav-bar-width) - 2em);
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted red;
  background-color: var(--page-background-color);
  */
}

header {
  color: var(--header-text-color);
  font-size: 1.5em;
  margin: 5px;
  text-align: center;
  font-weight: bold;
}

#navbar header:first-of-type {
  font-weight: bold;
  font-size: 1.75em;
}

#main-doc {
  position: fixed;
  width: calc(100vw - var(--nav-bar-width));
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: var(--nav-bar-width);
  margin: 0 10px;
  padding: 20px;
  overflow-x: hidden;
  white-space: normal;
  text-align: left;
}

#main-doc header {
  text-align: left;
  margin: 0;
}

#navbar {
  position: fixed;
  width: var(--nav-bar-width);
  top: 0;
  left: 0;
  height: 100vh;
  border-right: solid var(--nav-border-color);
  background-color: var(--nav-background-color);
}

#navbar li {
  position: relative;
  width: 100%;
  border-top: 1px solid var(--nav-border-color);
}

#navbar li:hover {
  background-color: var(--nav-li-hover-color);
  font-weight: bold;
}

#navbar a {
  display: block;
  color: var(--nav-text-color);
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

p {
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

#main-doc ul {
  margin-left: 2em;
  list-style-type: square;
  margin-bottom: 1em;
}

#assumptions ul {
  list-style: none;
  margin-left: 1em;
}

#assumptions ul li:before {
  content: '✓';
  font-weight: bold;
  padding-right: 0.5em;
}

#building_the_sql li {
  list-style-type: none;
  padding-bottom: 0.5em;
}

#peoplesoft_tables li {
  list-style-type: none;
  padding-bottom: 0.5em;
}

code {
  background-color: var(--code-background-color);
  border-radius: 10px;
  display: block;
  text-align: left;
  overflow-x: auto;
  padding: 1em;
  padding-top: 0;
  cursor: crosshair;
}

@media only screen and (max-width: 800px) {
  #navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10%;
    border-bottom: solid var(--nav-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar li {
    display: none;
  }

  #main-doc {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100vw;
    height: 90%;
    padding-bottom: 5em;
  }

}

@media only screen and (max-width: 400px) {
  #navbar header:first-of-type {
    font-weight: bold;
    font-size: 1.25em;
  }

}
